<html>
<head>
  <title> myTwitter! </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
User: Nid <br/>
    Tweets:
<a href="myTweets">
<div>  <%= tweetsNum %> </div>
</a>

Following:
<a href="following">
2
</a>
<br/>
Followers:
<a href="followers">
  4
</a>

</body>

</html>
